*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#fff8ef;
color:#3b2a20;

}




.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#fff;

border-bottom:1px solid #eee;

}



.logo img{

width:120px;

}




nav{

display:flex;
gap:25px;

}


nav a{

text-decoration:none;
color:#3b2a20;
font-weight:bold;

}



.menu-btn{

display:none;

}




.collection{

padding:60px 8%;

text-align:center;

}



.collection h1{

font-size:42px;
margin-bottom:15px;

}



.collection p{

font-size:18px;
margin-bottom:40px;

}




.products{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}





.product-card{

background:white;

border-radius:25px;

padding:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

transition:.3s;

}



.product-card:hover{

transform:translateY(-8px);

}




.product-card img{

width:100%;

border-radius:20px;

}



.product-card h3{

font-size:24px;

margin:15px 0 10px;

}



.product-card p{

color:#777;

margin-bottom:20px;

}




.product-card a,
.button{

display:inline-block;

background:#3b2a20;

color:white;

padding:12px 25px;

border-radius:30px;

text-decoration:none;

}





.about-preview{

padding:80px 10%;

text-align:center;

}



.about-preview img{

max-width:300px;

border-radius:30px;

}



.about-preview h1{

font-size:40px;

margin:25px 0;

}



.about-preview p{

font-size:18px;

line-height:1.8;

margin:20px auto;

max-width:700px;

}





footer{

background:#3b2a20;

color:white;

text-align:center;

padding:40px;

}



.footer-logo img{

width:100px;

}



.telegram{

color:white;

text-decoration:none;

}




@media(max-width:768px){


.header{

padding:15px 5%;

}


.logo img{

width:90px;

}



nav{

display:none;

}



.menu-btn{

display:block;

font-size:30px;

}




.products{

grid-template-columns:repeat(2,1fr);

gap:15px;

}



.product-card{

padding:12px;

border-radius:18px;

}



.product-card h3{

font-size:18px;

}



.collection{

padding:40px 5%;

}



.collection h1{

font-size:30px;

}



}
